@import './../../styles/helpers/variables';

.widgets__container {
	display: grid;
	grid-template-rows: 1fr;
	gap: 20px;

	@include isDesktop {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.widget__content {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&--icon {
			background-color: #fdd835;
			padding: 10px;
			border-radius: 50%;
			height: 40px;
			width: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $blackColor;
		}

		&--big {
			font-size: 20px;
			font-weight: 600;
		}
	}
}