@import './../helpers/variables';

.ReactModal {
	&__Body--open {
		overflow: hidden;
	}

	&__Overlay {
		background-color: rgb(12 12 12 / 75%) !important;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 99;
	}
}

.container {
	padding-top: 70px;
	padding-bottom: 70px;

	&.no-padding {
		padding: 0;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.col {
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;

	@media (min-width: 1024px) {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	&-auto {
		width: auto;
	}
}

.container-bg {
	background: $grayColor;
	border-radius: 10px;
	padding: 20px;

	&-10 {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.content__container {
	padding: 20px;
}

.form__container {
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
	padding: 2rem;
	background-color: #fff;
}

.seller {
	&__container {
		margin-top: 20px;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__content {
		box-shadow: 0px 4px 4px 2px rgb(24 28 33 / 5%);
		color: $grayColor;
		width: 100%;
		border-collapse: collapse;
		border-radius: 15px;
		background: #fff;
		border: none;
		padding: 16px;
	}
}