@import "./../../styles/helpers/variables";

.home {

	&__part,
	&__card {
		padding: 20px 0;
	}

	&__part {
		background: #f4f1ef 0% 0% no-repeat padding-box;
	}

	&__title {
		text-align: center;
		color: $darkGrayColor;
	}

	&__slider {
		position: relative;
		margin-top: 30px;

		.slider__more {
			display: flex;
			align-items: center;
			gap: 16px;
			position: absolute;
			right: 1rem;
			font-weight: 700;
			text-decoration: none;
			letter-spacing: 2px;
			color: $darkGrayColor;
			transition: all .3s;

			@include isDesktop {
				right: 1.5rem;
			}

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__card {
		.card {
			color: $darkGrayColor;

			&-one {
				@media (min-width: 1024px) {
					width: 50%;
				}
			}

			&-two {
				position: relative;

				@media (min-width: 1024px) {
					width: 50%;
				}

				img {
					width: 90%;
					height: 80%;
					object-fit: cover;
					position: relative;
					z-index: 2;
					transform: translate(0, 0);
					transition: all .3s;
					cursor: pointer;
				}

				div {
					background-color: #f4f1ef;
					width: 80%;
					height: 80%;
					position: absolute;
					right: 1rem;
					bottom: 0;
					z-index: 1;
					transition: all .3s;

					@include isDesktop {
						right: 1.5rem;
					}
				}

				img:hover {
					transform: translate(15px, 15px);

					+div {
						background-color: #ccc8c5;
					}
				}
			}

			&-col {
				margin-top: 20px;
				// margin-bottom: 20px;

				@include isDesktop {
					width: 33.33%;
				}

				p {
					font-family: $secondaryFont;
					font-weight: 700;

					&:first-child {
						font-size: 40px;
						padding-bottom: 10px;
					}

					&:not(:first-child) {
						border-top: 1px solid $darkGrayColor;
						padding-top: 10px;
					}
				}
			}

			&-description {
				margin-top: 30px;
				margin-bottom: 30px;
			}

			&-buttons {
				display: flex;
				align-items: center;
			}
		}
	}

	&__col {
		color: $darkGrayColor;
		margin-top: 40px;

		>div {
			text-align: center;

			@include isDesktop {
				width: 33%;
				// width: 250px;
			}

			img {
				width: 190px;
				height: 190px;
				object-fit: cover;
				border-radius: 50%;
				margin-bottom: 20px;
			}

			.title {
				margin-bottom: 16px;
				font-weight: 700;
				letter-spacing: 2px;
			}

			.description {
				font-weight: 600;
			}
		}
	}
}